/* #fbi{
    color: blue;
    font-size: 20px;
    font-weight: bold;
} */

.eyimba{
    font-family: 'Segoe UI';
    font-size: 2rem;
    font-style: italic;
    font-weight: 700;
    color: red;
}
.visible{
    
}